<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">

        </div>

        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            {% if !user %}<li><a href="/login">Login</a></li>{% endif %}
            <li><a href="/about">About</a></li>
            <li><a href="/register">register</a></li>
            <li><a href="/users">Users</a></li>
            {% if user %}<li><a href="/logout">logout</a></li>{% endif %}
        </ul>

    </div>
</nav>